config/FindWay测试.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: FindWay测试
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.0.8@22213ae036605d41ea73bdd16908e03de1b9d5ab4656a49b8fb0343723f4cb4a
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/azure_openai:0.0.34@d12c44c83a845ebe00b0285272011587bb118e2f411c546ffcfd9fe723d205ff
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: ''
    id: 5976b2a0-6b29-42ff-b9f8-b95156cfb304
    name: history
    selector:
    - conversation
    - history
    value: {}
    value_type: object
  environment_variables:
  - description: 数据库库名
    id: f4a44153-da7d-4674-a9d8-091de190f82c
    name: db_dbname
    selector:
    - env
    - db_dbname
    value: advantech
    value_type: string
  - description: 数据库密码
    id: dbfe305f-42c7-4e06-9f2f-00b080ffba0c
    name: db_password
    selector:
    - env
    - db_password
    value: $t@k@Pp$
    value_type: secret
  - description: 数据库用户名
    id: 4be88400-8e38-4158-8d43-8126bf7df33b
    name: db_user
    selector:
    - env
    - db_user
    value: advantech
    value_type: string
  - description: 数据库端口
    id: f6c5a67d-31ac-4244-be51-58d4a2e4bff0
    name: db_port
    selector:
    - env
    - db_port
    value: 65432
    value_type: integer
  - description: 数据库地址
    id: 4c9a9f97-8e72-4a43-9316-63c6304b0472
    name: db_url
    selector:
    - env
    - db_url
    value: 172.22.132.124
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1764039554614-source-1764039841850-target
      source: '1764039554614'
      sourceHandle: source
      target: '1764039841850'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: code
      id: 1764235028349-source-1764235048636-target
      source: '1764235028349'
      sourceHandle: source
      target: '1764235048636'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1764235048636-source-1764039554614-target
      source: '1764235048636'
      sourceHandle: source
      target: '1764039554614'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1764235675830-source-1764235765959-target
      source: '1764235675830'
      sourceHandle: source
      target: '1764235765959'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1763716164776-false-1764235028349-target
      source: '1763716164776'
      sourceHandle: 'false'
      target: '1764235028349'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1763716164776-true-1766711706400-target
      source: '1763716164776'
      sourceHandle: 'true'
      target: '1766711706400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1766711706400-source-1763946860879-target
      source: '1766711706400'
      sourceHandle: source
      target: '1763946860879'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1763715598482-source-1763716164776-target
      source: '1763715598482'
      sourceHandle: source
      target: '1763716164776'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1763707294052-source-1766712229458-target
      source: '1763707294052'
      sourceHandle: source
      target: '1766712229458'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766712229458-true-1764235028349-target
      source: '1766712229458'
      sourceHandle: 'true'
      target: '1764235028349'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1766712229458-false-1763715598482-target
      source: '1766712229458'
      sourceHandle: 'false'
      target: '1763715598482'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1764039841850-source-1766713662058-target
      source: '1764039841850'
      sourceHandle: source
      target: '1766713662058'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1766713662058-source-1764039986891-target
      source: '1766713662058'
      sourceHandle: source
      target: '1764039986891'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1764235765959-source-1764040028060-target
      source: '1764235765959'
      sourceHandle: source
      target: '1764040028060'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1764039986891-false-1764235675830-target
      source: '1764039986891'
      sourceHandle: 'false'
      target: '1764235675830'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1764039986891-true-1766713692537-target
      source: '1764039986891'
      sourceHandle: 'true'
      target: '1766713692537'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 73
      id: '1763707294052'
      position:
        x: 0
        y: 24
      positionAbsolute:
        x: 0
        y: 24
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction main({query, history}) {\n  const index = Number(query)\n\
          \  const filter = history?.result?.[index] ?? null\n  const find = Array.from(history?.result\
          \ ?? []).find(o => {\n    return o?.child_space_name === query || !!o?.product?.find(v\
          \ => v.product_name === query)\n  })\n  const can_reply = !!filter || !!find\n\
          \  const answer = {\n    AI_reply: '根據你的提問，已找到相關資訊',\n    info: [filter\
          \ ?? find],\n  }\n  return {\n    can_reply,\n    answer,\n  }\n}\n"
        code_language: javascript
        outputs:
          answer:
            children: null
            type: object
          can_reply:
            children: null
            type: boolean
        selected: false
        title: 处理历史
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
        - value_selector:
          - conversation
          - history
          value_type: object
          variable: history
      height: 52
      id: '1763715598482'
      position:
        x: 704
        y: 161
      positionAbsolute:
        x: 704
        y: 161
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: a9b72767-9b72-47d2-849c-bb634754b34c
            value: true
            varType: boolean
            variable_selector:
            - '1763715598482'
            - can_reply
          id: 'true'
          logical_operator: and
        selected: false
        title: 判断是否可以回复
        type: if-else
      height: 124
      id: '1763716164776'
      position:
        x: 1046
        y: 125
      positionAbsolute:
        x: 1046
        y: 125
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1763715598482.answer#}}'
        selected: false
        title: 直接回答选择结果
        type: answer
        variables: []
      height: 103
      id: '1763946860879'
      position:
        x: 1750
        y: 204
      positionAbsolute:
        x: 1750
        y: 204
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/azure_openai/azure_openai
        prompt_template:
        - id: e3e20c31-8ba8-42df-829e-3a8ed19b46d3
          role: system
          text: '你是一个严格模式的高级智能意图识别助手。


            任务：

            根据检索结果和用户输入判断唯一意图类别，输出格式：

            {

            "intent": ""

            }


            判定规则：

            1. 只要检索结果指向具体的门店 → intent = "store"

            2. 只要用户输入涉及在哪里/哪里有/哪里买等寻找购买地点的描述 → intent = "store"

            3. 只要用户输入涉及想要/想吃/想喝/想买某个商品或者服务的意图 → intent = "product"

            4. 如果检索结果或用户输入涉及商店、品牌、地点、位置等 → intent = "store"

            5. 如果检索结果或用户输入涉及商品、产品、服务 → intent = "product"

            6. 否则 → intent = "other"


            禁止：

            - 仅输出 "intent"，不允许任何其他内容或解释。'
        - id: a063b819-2984-404c-b17c-6f095fa18608
          role: user
          text: '检索结果：{{#1764235048636.chunk#}}


            用户输入：{{#sys.query#}}'
        selected: true
        title: LLM 判断用户意图
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1764039554614'
      position:
        x: 2092
        y: 45
      positionAbsolute:
        x: 2092
        y: 45
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction handleLLM(text) {\n  const regex = /```json([\\s\\S]*?)```/\n\
          \  const _res = text.replaceAll(/<think>[\\s\\S]*?<\\/think>/g, '')\n  const\
          \ match = _res.match(regex);\n  const res = !!match ? match[1].trim() :\
          \ _res\n  const str = res.replaceAll(/\\/\\/.*$/gm, '').replaceAll(/\\/\\\
          *[\\s\\S]*?\\*\\//g, '')\n  let obj\n  try {\n    obj = JSON.parse(str)\n\
          \  } catch (e) {\n    obj = {}\n  }\n  return obj\n}\nfunction main({text,\
          \ list}) {\n  const obj = handleLLM(text)\n  const intent = obj.intent ||\
          \ ''\n  let history = {}, answer = {}\n  if (intent === 'product' || intent\
          \ === 'store') {\n    const filter = []\n    const check = {}\n    const\
          \ array = '根據你的提問，以下商店可能符合你的需求'\n    const target = '根據你的提問，已找到相關資訊'\n \
          \   const none = '抱歉，沒有檢索到相關信息，請重新提問。'\n    Array.from(list).forEach(obj\
          \ => {\n      if (check[obj.child_space_id] === undefined) {\n        check[obj.child_space_id]\
          \ = filter.length\n        filter.push({\n          space_id: obj.space_id,\n\
          \          space_name: obj.space_name,\n          child_space_id: obj.child_space_id,\n\
          \          child_space_name: obj.store_name,\n          time: obj.store_time,\n\
          \          description: obj.store_description,\n          product: []\n\
          \        })\n      }\n      if (intent === 'product') {\n        filter[check[obj.child_space_id]].product.push({\n\
          \          product_id: obj.product_id,\n          product_name: obj.name,\n\
          \          price: obj.price,\n        })\n      }\n    })\n    if (filter.length\
          \ > 1) {\n      history = {\n        intent,\n        result: filter,\n\
          \      }\n    }\n    answer = {\n      AI_reply: filter.length > 1 ? array\
          \ : (filter.length === 0 ? none : target),\n      info: filter,\n    }\n\
          \  }\n  return {\n    intent,\n    history,\n    answer,\n  }\n}\n"
        code_language: javascript
        outputs:
          answer:
            children: null
            type: object
          history:
            children: null
            type: object
          intent:
            children: null
            type: string
        selected: false
        title: 处理用户意图
        type: code
        variables:
        - value_selector:
          - '1764039554614'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '1764235048636'
          - list
          value_type: array[object]
          variable: list
      height: 52
      id: '1764039841850'
      position:
        x: 2434
        y: 63
      positionAbsolute:
        x: 2434
        y: 63
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 785b487d-a142-4574-b9df-c00b31128ee4
            value: product
            varType: string
            variable_selector:
            - '1764039841850'
            - intent
          - comparison_operator: is
            id: 3b0b430e-6305-4ea7-b8eb-17b0c84d1461
            value: store
            varType: string
            variable_selector:
            - '1764039841850'
            - intent
          id: 'true'
          logical_operator: or
        selected: false
        title: 是否查询
        type: if-else
      height: 150
      id: '1764039986891'
      position:
        x: 3118
        y: 14
      positionAbsolute:
        x: 3118
        y: 14
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1764235765959.answer#}}'
        selected: false
        title: 回答闲聊
        type: answer
        variables: []
      height: 103
      id: '1764040028060'
      position:
        x: 4164
        y: 52
      positionAbsolute:
        x: 4164
        y: 52
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - In3usSDALUZDa+3LdOj9J2rNXsUal5o7Fhp3Tx2epRrls5M3B87EdvSjFWwQYR9t
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: 0.36
          top_k: 10
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: quentinz/bge-large-zh-v1.5:latest
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1763707294052'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1764235028349'
      position:
        x: 1408
        y: 44
      positionAbsolute:
        x: 1408
        y: 44
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction parseKeyValueText(input) {\n  const result = {}\n  if (typeof\
          \ input !== 'string') return result\n\n  const lines = input.split(/\\r?\\\
          n/).map(line => line.trim()).filter(Boolean)\n\n  for (const line of lines)\
          \ {\n    // 只切第一个冒号，防止 value 中包含冒号\n    const idx = line.indexOf(':')\n\
          \    if (idx === -1) continue\n\n    const key = line.slice(0, idx).trim()\n\
          \    let value = line.slice(idx + 1).trim()\n\n    if (!key) continue\n\n\
          \    result[key] = value\n  }\n\n  return result\n}\nfunction main({result,\
          \ query}) {\n  const list = Array.from(result).map(o => {\n    return parseKeyValueText(o.content)\n\
          \  })\n  let chunk = ''\n  if (Array.from(result).length > 0) {\n    chunk\
          \ = result[0]?.metadata?.child_chunks?.[0]?.content ?? ''\n  }\n  const\
          \ store = []\n  const check = {}\n  list.forEach(obj => {\n    if (check[obj.child_space_id]\
          \ === undefined) {\n      check[obj.child_space_id] = store.length\n   \
          \   store.push({\n        child_space_id: obj.child_space_id,\n        description:\
          \ obj.store_description,\n        product: [],\n      })\n    }\n    store[check[obj.child_space_id]].product.push(obj.name)\n\
          \  })\n  const prompt = store.map(o => {\n    return `\n1. 門店原始簡介：${o.description}\n\
          2. 用戶問題：${query}\n3. 相關產品檢索結果（可能为空）：${JSON.stringify(o.product)}`\n  })\n\
          \  return {\n    list,\n    chunk,\n    store,\n    prompt,\n  }\n}\n"
        code_language: javascript
        outputs:
          chunk:
            children: null
            type: string
          list:
            children: null
            type: array[object]
          prompt:
            children: null
            type: array[string]
          store:
            children: null
            type: array[object]
        selected: false
        title: 处理检索结果
        type: code
        variables:
        - value_selector:
          - '1764235028349'
          - result
          value_type: array[object]
          variable: result
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 52
      id: '1764235048636'
      position:
        x: 1750
        y: 63
      positionAbsolute:
        x: 1750
        y: 63
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/azure_openai/azure_openai
        prompt_template:
        - id: 823e14b9-cf73-4c18-ae72-8419922a22bc
          role: system
          text: '你是一个智能助手。


            任务：

            请回答用户问题。


            要求：

            - 回答要简洁、明确、友好。'
        - id: cca34b78-a737-4f46-af22-a478196b557c
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: LLM 回答用户闲聊
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1764235675830'
      position:
        x: 3480
        y: 60
      positionAbsolute:
        x: 3480
        y: 60
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction main({text}) {\n  const answer = {\n    AI_reply: text,\n\
          \    info: [],\n  }\n  return {\n    answer\n  }\n}\n"
        code_language: javascript
        outputs:
          answer:
            children: null
            type: object
        selected: false
        title: 处理闲聊结果
        type: code
        variables:
        - value_selector:
          - '1764235675830'
          - text
          value_type: string
          variable: text
      height: 52
      id: '1764235765959'
      position:
        x: 3822
        y: 78
      positionAbsolute:
        x: 3822
        y: 78
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - history
          write_mode: over-write
        selected: false
        title: 清空历史
        type: assigner
        version: '2'
      height: 84
      id: '1766711706400'
      position:
        x: 1408
        y: 214
      positionAbsolute:
        x: 1408
        y: 214
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 90287275-e1ae-4ccc-9530-8de877e3c852
            value: ''
            varType: object
            variable_selector:
            - conversation
            - history
          id: 'true'
          logical_operator: and
        selected: false
        title: 是否存在历史
        type: if-else
      height: 124
      id: '1766712229458'
      position:
        x: 342
        y: 0
      positionAbsolute:
        x: 342
        y: 0
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1764039841850'
          - history
          variable_selector:
          - conversation
          - history
          write_mode: over-write
        selected: false
        title: 保存历史
        type: assigner
        version: '2'
      height: 84
      id: '1766713662058'
      position:
        x: 2776
        y: 47
      positionAbsolute:
        x: 2776
        y: 47
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1764039841850.answer#}}'
        selected: false
        title: 回复查询结果
        type: answer
        variables: []
      height: 103
      id: '1766713692537'
      position:
        x: 3480
        y: 228
      positionAbsolute:
        x: 3480
        y: 228
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 127.83560004218339
      y: 358.19758805570643
      zoom: 0.455861233118331
  rag_pipeline_variables: []
