config/FindWay - 切换知识库.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: FindWay - 切换知识库
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/azure_openai:0.0.34@d12c44c83a845ebe00b0285272011587bb118e2f411c546ffcfd9fe723d205ff
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: ''
    id: 5976b2a0-6b29-42ff-b9f8-b95156cfb304
    name: history
    selector:
    - conversation
    - history
    value: {}
    value_type: object
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1764039554614-source-1764039841850-target
      source: '1764039554614'
      sourceHandle: source
      target: '1764039841850'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1763707294052-source-1771027512810-target
      source: '1763707294052'
      sourceHandle: source
      target: '1771027512810'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1771027512810-source-1771027538709-target
      source: '1771027512810'
      sourceHandle: source
      target: '1771027538709'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1764039841850-source-1771031320907-target
      source: '1764039841850'
      sourceHandle: source
      target: '1771031320907'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1770797643897-source-1771031337789-target
      source: '1770797643897'
      sourceHandle: source
      target: '1771031337789'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1771033378518-source-1771034102431-target
      source: '1771033378518'
      sourceHandle: source
      target: '1771034102431'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1771027538709-c0277301-ea55-4bc1-b013-0f10d55647fc-1771035113087-target
      source: '1771027538709'
      sourceHandle: c0277301-ea55-4bc1-b013-0f10d55647fc
      target: '1771035113087'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1771027538709-false-1771035113087-target
      source: '1771027538709'
      sourceHandle: 'false'
      target: '1771035113087'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1771035113087-source-1771035731844-target
      source: '1771035113087'
      sourceHandle: source
      target: '1771035731844'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1772243969967-source-1771033378518-target
      source: '1772243969967'
      sourceHandle: source
      target: '1771033378518'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1771027538709-36ac9147-44ea-4556-9efe-9e34a641de84-1772247910977-target
      source: '1771027538709'
      sourceHandle: 36ac9147-44ea-4556-9efe-9e34a641de84
      target: '1772247910977'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1772247910977-source-1772248075476-target
      source: '1772247910977'
      sourceHandle: source
      target: '1772248075476'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1772248075476-a5226ae4-5c0a-494a-ad19-128e92ea120f-1772267135844-target
      source: '1772248075476'
      sourceHandle: a5226ae4-5c0a-494a-ad19-128e92ea120f
      target: '1772267135844'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1772248075476-false-1772267135844-target
      source: '1772248075476'
      sourceHandle: 'false'
      target: '1772267135844'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1772267135844-source-1772267405841-target
      source: '1772267135844'
      sourceHandle: source
      target: '1772267405841'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1771027538709-true-1773739383111-target
      source: '1771027538709'
      sourceHandle: 'true'
      target: '1773739383111'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1773739383111-source-1773739647222-target
      source: '1773739383111'
      sourceHandle: source
      target: '1773739647222'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1773739647222-source-1773740235143-target
      source: '1773739647222'
      sourceHandle: source
      target: '1773740235143'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1773740235143-source-1773740323685-target
      source: '1773740235143'
      sourceHandle: source
      target: '1773740323685'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1773740323685-source-1770797503707-target
      source: '1773740323685'
      sourceHandle: source
      target: '1770797503707'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1770797503707-be5fce64-8dd3-4c4e-8dbe-9f24a14db942-1770797643897-target
      source: '1770797503707'
      sourceHandle: be5fce64-8dd3-4c4e-8dbe-9f24a14db942
      target: '1770797643897'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1770797503707-false-1764039554614-target
      source: '1770797503707'
      sourceHandle: 'false'
      target: '1764039554614'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1772248075476-true-1773741367804-target
      source: '1772248075476'
      sourceHandle: 'true'
      target: '1773741367804'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1773741367804-source-1773741371967-target
      source: '1773741367804'
      sourceHandle: source
      target: '1773741371967'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1773741371967-source-1773741376541-target
      source: '1773741371967'
      sourceHandle: source
      target: '1773741376541'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1773741376541-source-1772243969967-target
      source: '1773741376541'
      sourceHandle: source
      target: '1772243969967'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1773739383111-fail-branch-17737951384410-target
      source: '1773739383111'
      sourceHandle: fail-branch
      target: '17737951384410'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1773741367804-fail-branch-1773795397265-target
      source: '1773741367804'
      sourceHandle: fail-branch
      target: '1773795397265'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: +08:00
          hint: ''
          label: 时区
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: timezone
        - default: zh-TW
          hint: ''
          label: 语言
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: lang
        - default: http://172.22.132.129:8081/v1
          hint: ''
          label: 知识库 Base Url
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: base
        - default: dataset-Y4QLUTrJJLb1Lm57plIzTrQ8
          hint: ''
          label: 知识库 Token
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: token
        - default: e57385c2-a717-429a-94d7-3716108e3ca5
          hint: ''
          label: 知识库 ID
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: kb_id
      height: 213
      id: '1763707294052'
      position:
        x: -619.8010420593663
        y: -9.510657543842072
      positionAbsolute:
        x: -619.8010420593663
        y: -9.510657543842072
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1773740323685'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: langgenius/azure_openai/azure_openai
        prompt_template:
        - id: e3e20c31-8ba8-42df-829e-3a8ed19b46d3
          role: system
          text: "# Role\n你是一个智能购物助手。为你提供一份商品列表 JSON 数据。根据以下规则为用户生成回复：\n\n# Logic\n\
            1. 强制使用 {{#1763707294052.lang#}} 回答。\n2. 营业状态严格参考当前时间为 {{#1773740323685.now#}}\
            \ 进行判断\n3. 结构化回复规则\n   - 先以“目前最符合您要求的商品是”列出一个最符合需求的商品（包含名称与价格）。\n   -\
            \ 如果还存在其他推荐，则以 “其他推荐” 为标题，简要列出后续推荐的商品名称与价格。\n   - 每个商品（包括最推荐项）都必须以 - 开头另起一行。\n\
            \   - 所有内容必须严格转换为 {{#1763707294052.lang#}}。\n4. 若没有精准匹配的产品时，必须先明确告知，再推荐替代品，禁止把替代品直接当成用户要求的产品。\n\
            5. 语气要自然，像真人店员。\n6. 参考商品列表回答。禁止寒暄、禁止废话，禁止重复提问。"
        - id: a063b819-2984-404c-b17c-6f095fa18608
          role: user
          text: '# Inputs

            - 用户问题：{{#sys.query#}}

            - 商品列表：{{#context#}}'
        selected: false
        title: LLM 生成回答
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1764039554614'
      position:
        x: 2620.5513355060534
        y: -45.31265295123179
      positionAbsolute:
        x: 2620.5513355060534
        y: -45.31265295123179
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction parseKeyValueText(input) {\n  const result = {}\n  if (typeof\
          \ input !== 'string') return result\n\n  const lines = input.split(/\\r?\\\
          n/).map(line => line.trim()).filter(Boolean)\n\n  for (const line of lines)\
          \ {\n    // 只切第一个冒号，防止 value 中包含冒号\n    const idx = line.indexOf(':')\n\
          \    if (idx === -1) continue\n\n    const key = line.slice(0, idx).trim()\n\
          \    let value = line.slice(idx + 1).trim()\n\n    if (!key) continue\n\n\
          \    result[key] = value\n  }\n\n  return result\n}\nfunction main({text,\
          \ body}) {\n  const res = JSON.parse(body)\n  const list = Array.from(res?.records\
          \ ?? []).map(o => {\n    return parseKeyValueText(o.segment.content)\n \
          \ })\n  const AI_reply = text.replaceAll(/<think>[\\s\\S]*?<\\/think>/g,\
          \ '')\n  const info = []\n  const check = {}\n  list.forEach(obj => {\n\
          \    if (check[obj.child_space_id] === undefined) {\n      check[obj.child_space_id]\
          \ = info.length\n      info.push({\n        space_id: obj.space_id,\n  \
          \      space: obj.space_name,\n        child_space_id: obj.child_space_id,\n\
          \        name: obj.store_name,\n        time: obj.store_time,\n        product:\
          \ []\n      })\n    }\n    info[check[obj.child_space_id]].product.push({\n\
          \      id: obj.product_id,\n      price: obj.price,\n      name: obj.name,\n\
          \    })\n  })\n  const answer = {\n    AI_reply,\n    info,\n  }\n  return\
          \ {\n    answer,\n  }\n}\n"
        code_language: javascript
        outputs:
          answer:
            children: null
            type: object
        selected: false
        title: 处理回答
        type: code
        variables:
        - value_selector:
          - '1764039554614'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '1773740235143'
          - body
          value_type: string
          variable: body
      height: 52
      id: '1764039841850'
      position:
        x: 3017.1237355190674
        y: -45.31265295123179
      positionAbsolute:
        x: 3017.1237355190674
        y: -45.31265295123179
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: be5fce64-8dd3-4c4e-8dbe-9f24a14db942
          conditions:
          - comparison_operator: is
            id: 8a833dcd-3857-4f16-b7c8-271a818c9baf
            value: true
            varType: boolean
            variable_selector:
            - '1773740323685'
            - kb_empty
          id: be5fce64-8dd3-4c4e-8dbe-9f24a14db942
          logical_operator: and
        selected: false
        title: 是否有检索结果
        type: if-else
      height: 124
      id: '1770797503707'
      position:
        x: 2199.9303127869903
        y: -142.48294805230103
      positionAbsolute:
        x: 2199.9303127869903
        y: -142.48294805230103
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: langgenius/azure_openai/azure_openai
        prompt_template:
        - id: 72c104c5-61aa-448d-9241-0c40bf67348e
          role: system
          text: '你是一個引導用戶提問的助手。名叫 “小七”。

            當使用者的問題無法在知識庫中找到匹配結果時，請根據以下**【知識庫簡介】**引導使用者。


            【知識庫簡介】：

            本知識庫涵蓋了門市內的各類即食商品、生鮮鮮食及便利服務，具體包括：


            熱食區 (Hot Food)：

            - 關東煮系列：黃金魚蛋、昆布、黑輪、福袋、白蘿蔔、高麗菜捲等。

            - 大亨堡系列：原味、煙燻、起司、辣味熱狗。

            - 蒸烤系列：原味/所長茶葉蛋、現烤地瓜、蒸玉米、肉包、芝麻包等。


            鮮食/便當 (Fresh Food)：

            - 米食類：各式禦飯簰（肉鬆、鮪魚、明太子鮭魚）、便當盒（佛蒙特/爪哇咖哩飯、麻婆豆腐飯、雞排蛋炒飯、國民/奮起湖便當）。

            - 義大利麵類：紅燒牛肉麵、各式義大利麵（青醬蛤蜊、培根蛋奶、紐奧良烤雞）。

            - 早餐輕食：皮蛋瘦肉粥、各式三明治。


            烘焙麵包 (Bakery)：

            - 台日經典：紅豆、奶酥、蔥花、波羅麵包、卡士達麵包。

            - 歐式/土司：藍莓/雙起司貝果、瑞穗鮮乳土司、海鹽羅宋、法式土司。

            - 夾心系列：新感覺花生夾心、草莓夾心、北海道煉乳棒。


            冷藏/冷凍櫃 (Chilled & Frozen)：

            - 即食微波：炸雞塊、韓國炸雞、鍋貼、手工水餃、叉燒包。

            - 乳品飲料：瑞穗鮮乳/巧克力牛奶、林鳳營全脂鮮乳、比菲多、高纖豆漿。

            - 冰品零食：義美紅豆粉粿冰棒、布丁雪糕、毛豆仁。



            【引導策略】：

            - 如果使用者問的是「生活用品」（如毛巾、電池），告知目前只錄入了「食物與飲料」類目，建議詢問具體的鮮食或麵包。

            - 如果用戶問的是“價格”，由於庫內包含價格信息，引導其帶上具體商品名稱提問。

            - 提供 3 個在庫內的相關示例，例如：“您可以問：‘關東煮有哪些推薦？’ 或 ‘現在有哪些便當種類？’”


            【限制條件】：

            - 强制使用 {{#1763707294052.lang#}} 回答。

            - 语气要自然，像真人店员。

            - 字數控制在 100 字左右，保持 scannable（易讀性）。'
        selected: false
        title: AI引导用户提问
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1770797643897'
      position:
        x: 2620.5513355060534
        y: -246.0804077073922
      positionAbsolute:
        x: 2620.5513355060534
        y: -246.0804077073922
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}

            '
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: langgenius/azure_openai/azure_openai
        prompt_template:
        - id: edf1b392-eed8-4846-af66-aed25a47fcaf
          role: system
          text: "# Role\n你是一个高效的意图分类助手，负责根据用户输入和对话历史，将其归类到最合适的处理路径\n\n# 分类逻辑\n1. **use_context\
            \ (承接上文)**:\n    - 前提：必须存在上文（即 Assistant 至少回复过一次），且输入内容与上文有关\n    - 场景：确认选择、代词指代、针对上文内容的进一步追问、或追加新产品\n\
            2. **need_rag (仅限全新提问)**:\n    - 前提：输入涉及产品或者需求，且是首轮对话或者内容与上文完全无关\n   \
            \ - 场景：询问产品、描述模糊需求、感官渴望、寻求建议、完全转换话题\n3. **no_rag (闲聊)**:\n    - 前提：必须完全不涉及任何产品或者需求\n\
            \    - 场景：仅为打招呼或无关闲聊\n\n# Output Format\n仅输出分类标签，严禁包括任何引号、空格或标点符号：`need_rag`,\
            \ `use_context`, 或 `no_rag`\n\n# User Input\n{{#sys.query#}}"
        selected: false
        title: LLM路由节点
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1771027512810'
      position:
        x: -234.40416413950868
        y: 11.489342456157928
      positionAbsolute:
        x: -234.40416413950868
        y: 11.489342456157928
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 8882b067-9d34-4856-85f8-b05f8d7e3ffc
            value: need_rag
            varType: string
            variable_selector:
            - '1771027512810'
            - text
          id: 'true'
          logical_operator: and
        - case_id: 36ac9147-44ea-4556-9efe-9e34a641de84
          conditions:
          - comparison_operator: is
            id: 7b8185f9-6ef4-4035-8869-69658aefbe59
            value: use_context
            varType: string
            variable_selector:
            - '1771027512810'
            - text
          id: 36ac9147-44ea-4556-9efe-9e34a641de84
          logical_operator: and
        - case_id: c0277301-ea55-4bc1-b013-0f10d55647fc
          conditions:
          - comparison_operator: is
            id: 03bb3242-23d6-45a2-aae0-133a3324e107
            value: no_rag
            varType: string
            variable_selector:
            - '1771027512810'
            - text
          id: c0277301-ea55-4bc1-b013-0f10d55647fc
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 220
      id: '1771027538709'
      position:
        x: 157.2869500830152
        y: 11.489342456157928
      positionAbsolute:
        x: 157.2869500830152
        y: 11.489342456157928
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1764039841850.answer#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1771031320907'
      position:
        x: 3408.4684538614865
        y: -45.31265295123179
      positionAbsolute:
        x: 3408.4684538614865
        y: -45.31265295123179
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1770797643897.text#}}'
        selected: false
        title: AI引导提问
        type: answer
        variables: []
      height: 103
      id: '1771031337789'
      position:
        x: 3017.1237355190674
        y: -246.0804077073922
      positionAbsolute:
        x: 3017.1237355190674
        y: -246.0804077073922
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1772243969967'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}

            '
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: langgenius/azure_openai/azure_openai
        prompt_template:
        - id: c40b7a3e-c373-4b4f-b082-05497e7b8342
          role: system
          text: "# Role\n你是一名亲切高效的服务员，负责根据对话历史和用户提供的本轮补充资料回答追问或确认下单。\n\n# Logic &\
            \ Response\n1. **订单确认**：用户提到/指代对话历史和本轮补充资料中的产品且无新提问，视为“下单”。指代的产品必须优先从对话历史提取。\n\
            2. **回答细节**：\n   - 必须先回溯对话历史，再参考本轮补充资料，严禁忽略任一来源。若两者均无相关产品，如实告知，严禁编造不存在的产品。\n\
            \   - 产品细节允许基于品名和价格差异进行礼貌的导购建议，禁止生硬拒绝，但严禁编造具体的产品成分。\n3. **AI_reply**：\n\
            \   - 自然语言回复，强制使用 {{#1763707294052.lang#}} 回答。\n   - 语气要自然、像真人店员，即使数据不全也要给用户提供有参考价值的建议。\n\
            \   - 涉及产品内容时，必须前后一致，禁止自相矛盾。\n   - 不确定目标产品时，主动推荐最佳搭配。\n4. **info 提取**：\n\
            \   - **严格过滤**：根据 AI_reply 提取回复中提到的真实存在的产品，即使部分产品尚待确认，也必须放进 info 中；但禁止出现回复内容之外的产品。\n\
            \   - **禁止虚构**：信息不全或查无此物时，**不得**在 `info` 数组中创建该对象。\n\n# Output Format\
            \ (严格遵守)\n直接返回 JSON 对象，不得包含 Markdown 代码块或额外文字：\n{\n\"AI_reply\": \"自然语言回复\"\
            ,\n\"info\": [\n{\n\"name\": \"店铺名\",\n\"space_id\": \"\",\n\"space\"\
            : \"\",\n\"child_space_id\": \"\",\n\"time\": \"00:00~23:59\",\n\"product\"\
            : [{\"id\": \"产品ID\", \"name\": \"产品名\", \"price\": \"价格\"}]\n}\n]\n}"
        - id: b4780ebb-4386-4356-ad39-eaeb8fc0c430
          role: user
          text: '# 本轮补充资料（仅部分资料，必须同时参考对话历史）

            {{#context#}}'
        selected: false
        title: LLM-带历史上下文
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1771033378518'
      position:
        x: 3017.1237355190674
        y: 129.13888473358458
      positionAbsolute:
        x: 3017.1237355190674
        y: 129.13888473358458
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1771033378518.text#}}'
        selected: false
        title: 结合历史会话回复
        type: answer
        variables: []
      height: 103
      id: '1771034102431'
      position:
        x: 3408.4684538614865
        y: 129.13888473358458
      positionAbsolute:
        x: 3408.4684538614865
        y: 129.13888473358458
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}

            '
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: langgenius/azure_openai/azure_openai
        prompt_template:
        - id: b5a10ffd-c707-4b8c-9299-79f59f8e48c7
          role: system
          text: "# Role\n你是一个活泼、幽默且极具亲和力的店员。\n\n# Task\n负责处理用户的闲聊、寒暄、玩笑等日常对话。\n\n\
            # Personality\n- 语气活泼：语气要自然，像真人店员。\n- 幽默感：如果用户调侃你，你可以幽默地回击。\n- 导流高手：无论聊什么，最后都要自然地引导用户去看看我们的商品。\n\
            \n# Rules\n1. **禁止查库**：不需要参考任何知识库文档。\n2. **拒绝专业逻辑**：不要输出复杂的 JSON 或技术参数，只输出纯文本。\n\
            3. **话题引导**：\n    - 例子：用户说“今天天气好热”，你回复“真的！这种天气最适合来一杯冰凉的【原萃玉露綠茶】了，要不要我帮你看看菜单？”\n\
            \    - 例子：用户说“你好可爱”，你回复“哎呀被发现了～那要不要点杯甜甜的奶茶奖励一下可爱的我呢？”\n\n# Constraints\n\
            - 强制使用 {{#1763707294052.lang#}} 回答。\n- 保持回答简短（3 句以内）。\n- 如果用户提到了具体的产品名称，请提醒他：“哎呀，刚才光顾着聊天了，您是要点[产品名]吗？如果是的话请再说一次，我马上帮您下单！”\n\
            \n# Input\n{{#sys.query#}}"
        selected: false
        title: 闲聊
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1771035113087'
      position:
        x: 601.4181706379916
        y: 308.44727127607035
      positionAbsolute:
        x: 601.4181706379916
        y: 308.44727127607035
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1771035113087.text#}}'
        selected: false
        title: 闲聊回复
        type: answer
        variables: []
      height: 103
      id: '1771035731844'
      position:
        x: 999.1685188138279
        y: 308.44727127607035
      positionAbsolute:
        x: 999.1685188138279
        y: 308.44727127607035
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction parseKeyValueText(input) {\n  const result = {}\n  if (typeof\
          \ input !== 'string') return result\n  const lines = input.split(/\\r?\\\
          n/).map(line => line.trim()).filter(Boolean)\n  for (const line of lines)\
          \ {\n    // 只切第一个冒号，防止 value 中包含冒号\n    const idx = line.indexOf(':')\n\
          \    if (idx === -1) continue\n    const key = line.slice(0, idx).trim()\n\
          \    let value = line.slice(idx + 1).trim()\n    if (!key) continue\n  \
          \  result[key] = value\n  }\n  return result\n}\nfunction main({body}) {\n\
          \  const obj = JSON.parse(body)\n  const list = Array.isArray(obj?.records)\
          \ ? Array.from(obj.records).map(o => {\n    return parseKeyValueText(o.segment.content)\n\
          \  }) : []\n  const store = []\n  const check = {}\n  list.forEach(obj =>\
          \ {\n    if (check[obj.child_space_id] === undefined) {\n      check[obj.child_space_id]\
          \ = store.length\n      store.push({\n        space_id: obj.space_id,\n\
          \        space: obj.space_name,\n        child_space_id: obj.child_space_id,\n\
          \        name: obj.store_name,\n        time: obj.store_time,\n        product:\
          \ []\n      })\n    }\n    store[check[obj.child_space_id]].product.push({\n\
          \      id: obj.product_id,\n      name: obj.name,\n      price: obj.price,\n\
          \    })\n  })\n  return {\n    result: JSON.stringify(store),\n  }\n}\n"
        code_language: javascript
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 处理产品检索
        type: code
        variables:
        - value_selector:
          - '1773741376541'
          - body
          value_type: string
          variable: body
      height: 52
      id: '1772243969967'
      position:
        x: 2620.5513355060534
        y: 129.13888473358458
      positionAbsolute:
        x: 2620.5513355060534
        y: 129.13888473358458
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: langgenius/azure_openai/azure_openai
        prompt_template:
        - id: 24737736-38fe-4b58-90b7-0eadd9c70aa6
          role: system
          text: "# 意图路由指令\n\n**判定规则**：\n扫描对比【输入】与【对话历史】中的【具体产品/品类】。\n- **need_rag**：输入中出现对话历史中**从未提及**的具体产品/品类（包括追加新商品）。注意不要遗漏名称，特别是跟在数量词后面的名称。\n\
            - **no_rag**：输入中不存在任何新产品/品类，且内容仅限于：\n  - 属性/形态偏好（如：有汤、辣度、甜咸、冷热、日式、点心/轻食类）。\n\
            \  - 分量/场景描述（如：吃不多、下午茶、分量小）。\n  - 代词（这个、那个）或确认语气（好、可以）。\n\n**输出格式**：仅输出\
            \ `need_rag` 或 `no_rag`。\n\n**输入**: {{#sys.query#}}"
        selected: false
        title: LLM 判断是否需要检索
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1772247910977'
      position:
        x: 601.4181706379916
        y: 92.9975111121683
      positionAbsolute:
        x: 601.4181706379916
        y: 92.9975111121683
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: f7af4c74-eb66-4260-9968-bb87a178912c
            value: need_rag
            varType: string
            variable_selector:
            - '1772247910977'
            - text
          id: 'true'
          logical_operator: and
        - case_id: a5226ae4-5c0a-494a-ad19-128e92ea120f
          conditions:
          - comparison_operator: is
            id: 54e7f054-434c-485f-ac03-9fee4c136633
            value: no_rag
            varType: string
            variable_selector:
            - '1772247910977'
            - text
          id: a5226ae4-5c0a-494a-ad19-128e92ea120f
          logical_operator: and
        selected: false
        title: 判断是否检索
        type: if-else
      height: 172
      id: '1772248075476'
      position:
        x: 999.1685188138279
        y: 92.9975111121683
      positionAbsolute:
        x: 999.1685188138279
        y: 92.9975111121683
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: langgenius/azure_openai/azure_openai
        prompt_template:
        - id: 688fb51e-2b7d-44d9-bbde-e05884c664d0
          role: system
          text: "# Role\n亲切高效的服务员，负责根据对话历史回答追问或确认下单。\n\n# Logic & Response\n1. **确认下单**：用户提到/指代上文产品且无新提问，视为“选定下单”。从【对话历史】提取品名价格。\n\
            2. **回答细节**：\n    - 根据对话历史回答追问。若对话历史中不存在相关产品，如实告知，严禁编造不存在的产品。\n    - 产品细节允许基于品名和价格差异进行礼貌的导购建议，禁止生硬拒绝，但严禁编造具体的产品成分。\n\
            3. **AI_reply**：\n    - 自然语言回复，强制使用 {{#1763707294052.lang#}} 回答。\n   \
            \ - 语气要自然、像真人店员，即使数据不全也要给用户提供有参考价值的建议。\n    - 涉及产品内容时，必须前后一致，禁止自相矛盾。\n\
            \    - 不确定目标产品时，主动推荐最佳搭配。\n4. **info 提取**：\n    - **严格过滤**：根据 AI_reply\
            \ 提取回复中提到的真实存在的产品，即使部分产品尚待确认，也必须放进 info 中；但禁止出现回复内容之外的产品。\n    - **禁止虚构**：信息不全或查无此物时，**不得**在\
            \ `info` 数组中创建该对象。\n\n# Output Format (严格遵守)\n直接返回 JSON 对象，不得包含 Markdown\
            \ 代码块或额外文字：\n{\n\"AI_reply\": \"自然语言回复\",\n\"info\": [\n{\n\"name\": \"\
            店铺名\",\n\"space_id\": \"\",\n\"space\": \"\",\n\"child_space_id\": \"\"\
            ,\n\"time\": \"00:00~23:59\",\n\"product\": [{\"id\": \"产品ID\", \"name\"\
            : \"产品名\", \"price\": \"价格\"}]\n}\n]\n}"
        selected: false
        title: LLM 仅上下文
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1772267135844'
      position:
        x: 1409.7329508253563
        y: 308.44727127607035
      positionAbsolute:
        x: 1409.7329508253563
        y: 308.44727127607035
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1772267135844.text#}}'
        selected: false
        title: 仅上下文回复
        type: answer
        variables: []
      height: 103
      id: '1772267405841'
      position:
        x: 1811.1135218075688
        y: 308.44727127607035
      positionAbsolute:
        x: 1811.1135218075688
        y: 308.44727127607035
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: Authorization:Bearer {{#1763707294052.token#}}
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 知识库信息
        type: http-request
        url: '{{#1763707294052.base#}}/datasets/{{#1763707294052.kb_id#}}'
        variables: []
      height: 180
      id: '1773739383111'
      position:
        x: 601.4181706379916
        y: -142.48294805230103
      positionAbsolute:
        x: 601.4181706379916
        y: -142.48294805230103
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction main({body, query}) {\n  const obj = JSON.parse(body)\n\
          \  return {\n    request: JSON.stringify({\n      \"query\": query,\n  \
          \    \"retrieval_model\": {\n        ...(obj?.retrieval_model_dict ?? {}),\n\
          \        \"top_k\": 10,\n        \"score_threshold_enabled\": true,\n  \
          \      \"score_threshold\": 0.3,\n      }\n    }),\n  }\n}"
        code_language: javascript
        outputs:
          request:
            children: null
            type: string
        selected: false
        title: 处理Request
        type: code
        variables:
        - value_selector:
          - '1773739383111'
          - body
          value_type: string
          variable: body
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 52
      id: '1773739647222'
      position:
        x: 999.1685188138279
        y: -142.48294805230103
      positionAbsolute:
        x: 999.1685188138279
        y: -142.48294805230103
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-214
            key: ''
            type: text
            value: '{{#1773739647222.request#}}'
          type: json
        headers: Authorization:Bearer {{#1763707294052.token#}}
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 知识库检索
        type: http-request
        url: '{{#1763707294052.base#}}/datasets/{{#1763707294052.kb_id#}}/retrieve'
        variables: []
      height: 160
      id: '1773740235143'
      position:
        x: 1409.7329508253563
        y: -142.48294805230103
      positionAbsolute:
        x: 1409.7329508253563
        y: -142.48294805230103
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction parseKeyValueText(input) {\n  const result = {}\n  if (typeof\
          \ input !== 'string') return result\n  const lines = input.split(/\\r?\\\
          n/).map(line => line.trim()).filter(Boolean)\n  for (const line of lines)\
          \ {\n    // 只切第一个冒号，防止 value 中包含冒号\n    const idx = line.indexOf(':')\n\
          \    if (idx === -1) continue\n    const key = line.slice(0, idx).trim()\n\
          \    let value = line.slice(idx + 1).trim()\n    if (!key) continue\n  \
          \  result[key] = value\n  }\n  return result\n}\nfunction getCurrentTimeByOffset(timezone)\
          \ {\n  const now = new Date()\n  const sign = timezone.startsWith('-') ?\
          \ -1 : 1\n  const [hours, minutes] = timezone.slice(1).split(':').map(Number)\n\
          \  const offsetInMilliseconds = sign * (hours * 3600000 + minutes * 60000)\n\
          \  const targetTime = new Date(now.getTime() + offsetInMilliseconds)\n \
          \ const f = (num) => String(num).padStart(2, '0')\n  const YYYY = targetTime.getUTCFullYear()\n\
          \  const MM = f(targetTime.getUTCMonth() + 1)\n  const DD = f(targetTime.getUTCDate())\n\
          \  const HH = f(targetTime.getUTCHours())\n  const mm = f(targetTime.getUTCMinutes())\n\
          \  const ss = f(targetTime.getUTCSeconds())\n  return `${YYYY}-${MM}-${DD}\
          \ ${HH}:${mm}:${ss}`\n}\nfunction main({body, timezone}) {\n  const res\
          \ = JSON.parse(body)\n  const kb_error = !res?.records\n  const kb_empty\
          \ = Array.from(res?.records ?? [])?.length === 0\n  const list = Array.from(res?.records\
          \ ?? []).map(o => {\n    return parseKeyValueText(o.segment.content)\n \
          \ })\n  const store = []\n  const check = {}\n  list.forEach(obj => {\n\
          \    if (check[obj.child_space_id] === undefined) {\n      check[obj.child_space_id]\
          \ = store.length\n      store.push({\n        name: obj.store_name,\n  \
          \      space: obj.space_name,\n        time: obj.store_time,\n        product:\
          \ []\n      })\n    }\n    store[check[obj.child_space_id]].product.push({\n\
          \      name: obj.name,\n      price: obj.price,\n    })\n  })\n  return\
          \ {\n    now: getCurrentTimeByOffset(timezone),\n    result: JSON.stringify(store),\n\
          \    kb_error,\n    kb_empty,\n  }\n}\n"
        code_language: javascript
        outputs:
          kb_empty:
            children: null
            type: boolean
          kb_error:
            children: null
            type: boolean
          now:
            children: null
            type: string
          result:
            children: null
            type: string
        selected: false
        title: 处理检索
        type: code
        variables:
        - value_selector:
          - '1773740235143'
          - body
          value_type: string
          variable: body
        - value_selector:
          - '1763707294052'
          - timezone
          value_type: string
          variable: timezone
      height: 52
      id: '1773740323685'
      position:
        x: 1811.1135218075688
        y: -142.48294805230103
      positionAbsolute:
        x: 1811.1135218075688
        y: -142.48294805230103
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: Authorization:Bearer {{#1763707294052.token#}}
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 知识库信息
        type: http-request
        url: '{{#1763707294052.base#}}/datasets/{{#1763707294052.kb_id#}}'
        variables: []
      height: 180
      id: '1773741367804'
      position:
        x: 1409.7329508253563
        y: 92.9975111121683
      positionAbsolute:
        x: 1409.7329508253563
        y: 92.9975111121683
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction main({body, query}) {\n  const obj = JSON.parse(body)\n\
          \  return {\n    request: JSON.stringify({\n      \"query\": query,\n  \
          \    \"retrieval_model\": {\n        ...(obj?.retrieval_model_dict ?? {}),\n\
          \        \"top_k\": 6,\n        \"score_threshold_enabled\": true,\n   \
          \     \"score_threshold\": 0.3,\n      }\n    }),\n  }\n}"
        code_language: javascript
        outputs:
          request:
            children: null
            type: string
        selected: false
        title: 处理Request
        type: code
        variables:
        - value_selector:
          - '1773741367804'
          - body
          value_type: string
          variable: body
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 52
      id: '1773741371967'
      position:
        x: 1819.118840374633
        y: 92.9975111121683
      positionAbsolute:
        x: 1819.118840374633
        y: 92.9975111121683
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-441
            key: ''
            type: text
            value: '{{#1773741371967.request#}}'
          type: json
        headers: Authorization:Bearer {{#1763707294052.token#}}
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 知识库检索
        type: http-request
        url: '{{#1763707294052.base#}}/datasets/{{#1763707294052.kb_id#}}/retrieve'
        variables: []
      height: 160
      id: '1773741376541'
      position:
        x: 2199.9303127869903
        y: 92.9975111121683
      positionAbsolute:
        x: 2199.9303127869903
        y: 92.9975111121683
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 获取知识库信息失败，请检查知识库ID
        selected: false
        title: 报错
        type: answer
        variables: []
      height: 116
      id: '17737951384410'
      position:
        x: 999.1685188138279
        y: -45.31265295123179
      positionAbsolute:
        x: 999.1685188138279
        y: -45.31265295123179
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 获取知识库信息失败，请检查知识库ID
        selected: false
        title: 报错
        type: answer
        variables: []
      height: 116
      id: '1773795397265'
      position:
        x: 1819.118840374633
        y: 176.67243820726287
      positionAbsolute:
        x: 1819.118840374633
        y: 176.67243820726287
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 610.8486720431908
      y: 433.7238573221983
      zoom: 0.3789291416275994
  rag_pipeline_variables: []
