config/自动更新知识库.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 自动更新知识库
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: junjiem/db_query:0.0.9@1060683d13870d0cb77d47664e5100a16a2029dada24cf1193bc2ce312295764
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: bowenliang123/md_exporter:2.1.0@7472b9ad6fe068f775ec891f1a3b36d99e6699752bab77143a84d38f2f864dbe
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: 产品知识库id
    id: c543c3dd-9377-45ad-8f07-9a6581a34d22
    name: kb_id
    selector:
    - env
    - kb_id
    value: 53894890-adf7-4845-b0af-54c73c4bd5cb
    value_type: string
  - description: 知识库token
    id: bffa307f-4fbd-4d85-9ad2-f92a7240fe47
    name: kb_token
    selector:
    - env
    - kb_token
    value: dataset-Y4QLUTrJJLb1Lm57plIzTrQ8
    value_type: secret
  - description: 知识库地址
    id: 7593be71-54e5-4172-9c05-5d5b57307546
    name: kb_url
    selector:
    - env
    - kb_url
    value: http://172.22.132.124:8081/v1
    value_type: string
  - description: 数据库库名
    id: 59034c2a-06b6-4ad9-b8b4-aa1b9376be9f
    name: db_dbname
    selector:
    - env
    - db_dbname
    value: advantech
    value_type: string
  - description: 数据库密码
    id: 8983349b-9c80-48cd-944b-3862fa8584b2
    name: db_password
    selector:
    - env
    - db_password
    value: $t@k@Pp$
    value_type: secret
  - description: 数据库用户名
    id: 0c033d82-7ab4-4250-b557-29912895c918
    name: db_user
    selector:
    - env
    - db_user
    value: advantech
    value_type: string
  - description: 数据库端口
    id: ceee9071-fd82-4841-8399-2f69ccbc2f99
    name: db_port
    selector:
    - env
    - db_port
    value: 65432
    value_type: integer
  - description: 数据库地址
    id: 2edac822-f2a6-4992-a00a-96d05dfdb52e
    name: db_url
    selector:
    - env
    - db_url
    value: 172.22.132.124
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1763447953443-source-1763448178150-target
      source: '1763447953443'
      sourceHandle: source
      target: '1763448178150'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: trigger-webhook
        targetType: http-request
      id: 1763446068016-source-1763449193034-target
      source: '1763446068016'
      sourceHandle: source
      target: '1763449193034'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1763449193034-source-1763447953443-target
      source: '1763449193034'
      sourceHandle: source
      target: '1763447953443'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1763448178150-source-1763446093533-target
      source: '1763448178150'
      sourceHandle: source
      target: '1763446093533'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1763446093533-source-17640351179410-target
      source: '1763446093533'
      sourceHandle: source
      target: '17640351179410'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 17640351179410-source-1764035128403-target
      source: '17640351179410'
      sourceHandle: source
      target: '1764035128403'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1764035128403-source-1764035141964-target
      source: '1764035128403'
      sourceHandle: source
      target: '1764035141964'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: http-request
      id: 1764035141964-source-1764035134073-target
      source: '1764035141964'
      sourceHandle: source
      target: '1764035134073'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 1764035134073-source-1763446930390-target
      source: '1764035134073'
      sourceHandle: source
      target: '1763446930390'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        async_mode: true
        body: []
        content_type: application/json
        headers: []
        method: POST
        params: []
        response_body: ''
        selected: false
        status_code: 200
        title: Webhook 触发器
        type: trigger-webhook
        variables:
        - label: raw
          required: true
          value_selector: []
          value_type: object
          variable: _webhook_raw
        webhook_debug_url: ''
        webhook_url: ''
      height: 130
      id: '1763446068016'
      position:
        x: 0
        y: 8
      positionAbsolute:
        x: 0
        y: 8
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: mysql
          form: llm
          human_description:
            en_US: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            ja_JP: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            pt_BR: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            zh_Hans: 用于选择数据库类型，mysql、oracle、oracle11g、postgresql或mssql。
          label:
            en_US: Database type
            ja_JP: Database type
            pt_BR: Database type
            zh_Hans: 数据库类型
          llm_description: ''
          max: null
          min: null
          name: db_type
          options:
          - icon: ''
            label:
              en_US: MySQL
              ja_JP: MySQL
              pt_BR: MySQL
              zh_Hans: MySQL
            value: mysql
          - icon: ''
            label:
              en_US: Oracle
              ja_JP: Oracle
              pt_BR: Oracle
              zh_Hans: Oracle
            value: oracle
          - icon: ''
            label:
              en_US: Oracle11g
              ja_JP: Oracle11g
              pt_BR: Oracle11g
              zh_Hans: Oracle11g
            value: oracle11g
          - icon: ''
            label:
              en_US: PostgreSQL
              ja_JP: PostgreSQL
              pt_BR: PostgreSQL
              zh_Hans: PostgreSQL
            value: postgresql
          - icon: ''
            label:
              en_US: Microsoft SQL Server
              ja_JP: Microsoft SQL Server
              pt_BR: Microsoft SQL Server
              zh_Hans: Microsoft SQL Server
            value: mssql
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: localhost
          form: llm
          human_description:
            en_US: Database hostname or IP address (Original string, not URL-encoded
              string).
            ja_JP: Database hostname or IP address (Original string, not URL-encoded
              string).
            pt_BR: Database hostname or IP address (Original string, not URL-encoded
              string).
            zh_Hans: 数据库的主机名或IP地址（原始字符串，非URL编码字符串）。
          label:
            en_US: Database Host
            ja_JP: Database Host
            pt_BR: Database Host
            zh_Hans: 数据库地址
          llm_description: ''
          max: null
          min: null
          name: db_host
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database port.
            ja_JP: Database port.
            pt_BR: Database port.
            zh_Hans: 数据库的端口。
          label:
            en_US: Port
            ja_JP: Port
            pt_BR: Port
            zh_Hans: 端口
          llm_description: ''
          max: null
          min: null
          name: db_port
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database username (Original string, not URL-encoded string).
            ja_JP: Database username (Original string, not URL-encoded string).
            pt_BR: Database username (Original string, not URL-encoded string).
            zh_Hans: 数据库的用户名（原始字符串，非URL编码字符串）。
          label:
            en_US: Username
            ja_JP: Username
            pt_BR: Username
            zh_Hans: 用户名
          llm_description: ''
          max: null
          min: null
          name: db_username
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database password (Original string, not URL-encoded string).
            ja_JP: Database password (Original string, not URL-encoded string).
            pt_BR: Database password (Original string, not URL-encoded string).
            zh_Hans: 数据库的密码（原始字符串，非URL编码字符串）。
          label:
            en_US: Password
            ja_JP: Password
            pt_BR: Password
            zh_Hans: 密码
          llm_description: ''
          max: null
          min: null
          name: db_password
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: secret-input
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database name (Original string, not URL-encoded string).
            ja_JP: Database name (Original string, not URL-encoded string).
            pt_BR: Database name (Original string, not URL-encoded string).
            zh_Hans: 数据库的名称（原始字符串，非URL编码字符串）。
          label:
            en_US: Database name
            ja_JP: Database name
            pt_BR: Database name
            zh_Hans: 库名
          llm_description: ''
          max: null
          min: null
          name: db_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            ja_JP: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            pt_BR: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            zh_Hans: 数据库属性，例如：alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt
          label:
            en_US: Database properties
            ja_JP: Database properties
            pt_BR: Database properties
            zh_Hans: 数据库属性
          llm_description: ''
          max: null
          min: null
          name: db_properties
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'SQL query statement, for example: select * from tbl_name'
            ja_JP: 'SQL query statement, for example: select * from tbl_name'
            pt_BR: 'SQL query statement, for example: select * from tbl_name'
            zh_Hans: SQL查询语句，例如：select * from tbl_name
          label:
            en_US: Query SQL
            ja_JP: Query SQL
            pt_BR: Query SQL
            zh_Hans: SQL查询语句
          llm_description: 'SQL query statement, for example: select * from tbl_name'
          max: null
          min: null
          name: query_sql
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: markdown
          form: form
          human_description:
            en_US: Used for selecting the output format, markdown or json.
            ja_JP: Used for selecting the output format, markdown or json.
            pt_BR: Used for selecting the output format, markdown or json.
            zh_Hans: 用于选择输出格式，markdown或json。
          label:
            en_US: Output format
            ja_JP: Output format
            pt_BR: Output format
            zh_Hans: 输出格式
          llm_description: ''
          max: null
          min: null
          name: output_format
          options:
          - icon: ''
            label:
              en_US: MARKDOWN
              ja_JP: MARKDOWN
              pt_BR: MARKDOWN
              zh_Hans: MARKDOWN
            value: markdown
          - icon: ''
            label:
              en_US: JSON
              ja_JP: JSON
              pt_BR: JSON
              zh_Hans: JSON
            value: json
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        params:
          db_host: ''
          db_name: ''
          db_password: ''
          db_port: ''
          db_properties: ''
          db_type: ''
          db_username: ''
          output_format: ''
          query_sql: ''
        plugin_id: junjiem/db_query
        plugin_unique_identifier: junjiem/db_query:0.0.9@1060683d13870d0cb77d47664e5100a16a2029dada24cf1193bc2ce312295764
        provider_icon: http://172.22.132.124:8081/console/api/workspaces/current/plugin/icon?tenant_id=de79cda4-cae0-4be5-8bff-50ddcacf186f&filename=ce2ce5af47e39e9476fc06eea7fbd05446ad16043d4d16c671e69a3c650a976a.svg
        provider_id: junjiem/db_query/db_query
        provider_name: junjiem/db_query/db_query
        provider_type: builtin
        selected: false
        title: SQL查询门店
        tool_configurations:
          output_format:
            type: constant
            value: markdown
        tool_description: 数据库SQL查询工具。
        tool_label: SQL查询
        tool_name: sql_query
        tool_node_version: '2'
        tool_parameters:
          db_host:
            type: mixed
            value: '{{#env.db_url#}}'
          db_name:
            type: mixed
            value: '{{#env.db_dbname#}}'
          db_password:
            type: mixed
            value: '{{#env.db_password#}}'
          db_port:
            type: variable
            value:
            - env
            - db_port
          db_properties:
            type: mixed
            value: null
          db_type:
            type: constant
            value: postgresql
          db_username:
            type: mixed
            value: '{{#env.db_user#}}'
          query_sql:
            type: mixed
            value: select * from test_dify.store;
        type: tool
      height: 88
      id: '1763446093533'
      position:
        x: 1368
        y: 29
      positionAbsolute:
        x: 1368
        y: 29
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1764035134073'
          - body
          value_type: string
          variable: text
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1763446930390'
      position:
        x: 3078
        y: 28
      positionAbsolute:
        x: 3078
        y: 28
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: Authorization:Bearer {{#env.kb_token#}}
        method: get
        params: limit:100
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 获取知识库文档列表
        type: http-request
        url: '{{#env.kb_url#}}/datasets/{{#env.kb_id#}}/documents'
        variables: []
      height: 146
      id: '1763447953443'
      position:
        x: 684
        y: 0
      positionAbsolute:
        x: 684
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction main({body, body_i}) {\n  const res = JSON.parse(body) ||\
          \ {}\n  const arr = Array.isArray(res.data) ? Array.from(res.data) : []\n\
          \  const product = arr.find(o => o.name === 'product.csv')\n  const url\
          \ = !!product ? `/documents/${product.id}/update-by-file` : '/document/create-by-file'\n\
          \  const res_i = JSON.parse(body_i) || {}\n  const data = JSON.stringify({\n\
          \    name: 'product.csv',\n    indexing_technique: res_i.indexing_technique\
          \ || 'high_quality',\n    doc_form: res_i.doc_form || 'text_model',\n  \
          \  process_rule: {\n      mode: 'custom',\n      rules: {\n        pre_processing_rules:\
          \ [\n          {\n            id: 'remove_extra_spaces',\n            enabled:\
          \ false\n          },\n          {\n            id: 'remove_urls_emails',\n\
          \            enabled: false\n          }\n        ],\n        segmentation:\
          \ {\n          delimiter: '\\n',\n          max_tokens: 4000,\n        \
          \  chunk_overlap: 50\n        }\n      },\n      limits: {\n        indexing_max_segmentation_tokens_length:\
          \ 4000\n      }\n    },\n    retrieval_model: res_i.retrieval_model_dict\
          \ || {\n      search_method: 'semantic_search',\n      reranking_enable:\
          \ false,\n      reranking_mode: null,\n      reranking_model: {\n      \
          \  reranking_provider_name: '',\n        reranking_model_name: ''\n    \
          \  },\n      weights: null,\n      top_k: 5,\n      score_threshold_enabled:\
          \ false,\n      score_threshold: null\n    },\n    embedding_model_provider:\
          \ res_i.embedding_model_provider || 'azure_openai',\n    embedding_model:\
          \ res_i.embedding_model || 'text-embedding-3-large'\n  })\n  return {\n\
          \    url,\n    data,\n  }\n}\n"
        code_language: javascript
        outputs:
          data:
            children: null
            type: string
          url:
            children: null
            type: string
        selected: false
        title: 处理知识库信息
        type: code
        variables:
        - value_selector:
          - '1763447953443'
          - body
          value_type: string
          variable: body
        - value_selector:
          - '1763449193034'
          - body
          value_type: string
          variable: body_i
      height: 52
      id: '1763448178150'
      position:
        x: 1026
        y: 47
      positionAbsolute:
        x: 1026
        y: 47
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: Authorization:Bearer {{#env.kb_token#}}
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 获取知识库信息
        type: http-request
        url: '{{#env.kb_url#}}/datasets/{{#env.kb_id#}}'
        variables: []
      height: 146
      id: '1763449193034'
      position:
        x: 342
        y: 0
      positionAbsolute:
        x: 342
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: mysql
          form: llm
          human_description:
            en_US: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            ja_JP: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            pt_BR: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            zh_Hans: 用于选择数据库类型，mysql、oracle、oracle11g、postgresql或mssql。
          label:
            en_US: Database type
            ja_JP: Database type
            pt_BR: Database type
            zh_Hans: 数据库类型
          llm_description: ''
          max: null
          min: null
          name: db_type
          options:
          - icon: ''
            label:
              en_US: MySQL
              ja_JP: MySQL
              pt_BR: MySQL
              zh_Hans: MySQL
            value: mysql
          - icon: ''
            label:
              en_US: Oracle
              ja_JP: Oracle
              pt_BR: Oracle
              zh_Hans: Oracle
            value: oracle
          - icon: ''
            label:
              en_US: Oracle11g
              ja_JP: Oracle11g
              pt_BR: Oracle11g
              zh_Hans: Oracle11g
            value: oracle11g
          - icon: ''
            label:
              en_US: PostgreSQL
              ja_JP: PostgreSQL
              pt_BR: PostgreSQL
              zh_Hans: PostgreSQL
            value: postgresql
          - icon: ''
            label:
              en_US: Microsoft SQL Server
              ja_JP: Microsoft SQL Server
              pt_BR: Microsoft SQL Server
              zh_Hans: Microsoft SQL Server
            value: mssql
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: localhost
          form: llm
          human_description:
            en_US: Database hostname or IP address (Original string, not URL-encoded
              string).
            ja_JP: Database hostname or IP address (Original string, not URL-encoded
              string).
            pt_BR: Database hostname or IP address (Original string, not URL-encoded
              string).
            zh_Hans: 数据库的主机名或IP地址（原始字符串，非URL编码字符串）。
          label:
            en_US: Database Host
            ja_JP: Database Host
            pt_BR: Database Host
            zh_Hans: 数据库地址
          llm_description: ''
          max: null
          min: null
          name: db_host
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database port.
            ja_JP: Database port.
            pt_BR: Database port.
            zh_Hans: 数据库的端口。
          label:
            en_US: Port
            ja_JP: Port
            pt_BR: Port
            zh_Hans: 端口
          llm_description: ''
          max: null
          min: null
          name: db_port
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database username (Original string, not URL-encoded string).
            ja_JP: Database username (Original string, not URL-encoded string).
            pt_BR: Database username (Original string, not URL-encoded string).
            zh_Hans: 数据库的用户名（原始字符串，非URL编码字符串）。
          label:
            en_US: Username
            ja_JP: Username
            pt_BR: Username
            zh_Hans: 用户名
          llm_description: ''
          max: null
          min: null
          name: db_username
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database password (Original string, not URL-encoded string).
            ja_JP: Database password (Original string, not URL-encoded string).
            pt_BR: Database password (Original string, not URL-encoded string).
            zh_Hans: 数据库的密码（原始字符串，非URL编码字符串）。
          label:
            en_US: Password
            ja_JP: Password
            pt_BR: Password
            zh_Hans: 密码
          llm_description: ''
          max: null
          min: null
          name: db_password
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: secret-input
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database name (Original string, not URL-encoded string).
            ja_JP: Database name (Original string, not URL-encoded string).
            pt_BR: Database name (Original string, not URL-encoded string).
            zh_Hans: 数据库的名称（原始字符串，非URL编码字符串）。
          label:
            en_US: Database name
            ja_JP: Database name
            pt_BR: Database name
            zh_Hans: 库名
          llm_description: ''
          max: null
          min: null
          name: db_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            ja_JP: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            pt_BR: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            zh_Hans: 数据库属性，例如：alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt
          label:
            en_US: Database properties
            ja_JP: Database properties
            pt_BR: Database properties
            zh_Hans: 数据库属性
          llm_description: ''
          max: null
          min: null
          name: db_properties
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'SQL query statement, for example: select * from tbl_name'
            ja_JP: 'SQL query statement, for example: select * from tbl_name'
            pt_BR: 'SQL query statement, for example: select * from tbl_name'
            zh_Hans: SQL查询语句，例如：select * from tbl_name
          label:
            en_US: Query SQL
            ja_JP: Query SQL
            pt_BR: Query SQL
            zh_Hans: SQL查询语句
          llm_description: 'SQL query statement, for example: select * from tbl_name'
          max: null
          min: null
          name: query_sql
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: markdown
          form: form
          human_description:
            en_US: Used for selecting the output format, markdown or json.
            ja_JP: Used for selecting the output format, markdown or json.
            pt_BR: Used for selecting the output format, markdown or json.
            zh_Hans: 用于选择输出格式，markdown或json。
          label:
            en_US: Output format
            ja_JP: Output format
            pt_BR: Output format
            zh_Hans: 输出格式
          llm_description: ''
          max: null
          min: null
          name: output_format
          options:
          - icon: ''
            label:
              en_US: MARKDOWN
              ja_JP: MARKDOWN
              pt_BR: MARKDOWN
              zh_Hans: MARKDOWN
            value: markdown
          - icon: ''
            label:
              en_US: JSON
              ja_JP: JSON
              pt_BR: JSON
              zh_Hans: JSON
            value: json
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        params:
          db_host: ''
          db_name: ''
          db_password: ''
          db_port: ''
          db_properties: ''
          db_type: ''
          db_username: ''
          output_format: ''
          query_sql: ''
        plugin_id: junjiem/db_query
        plugin_unique_identifier: junjiem/db_query:0.0.9@1060683d13870d0cb77d47664e5100a16a2029dada24cf1193bc2ce312295764
        provider_icon: http://172.22.132.124:8081/console/api/workspaces/current/plugin/icon?tenant_id=de79cda4-cae0-4be5-8bff-50ddcacf186f&filename=ce2ce5af47e39e9476fc06eea7fbd05446ad16043d4d16c671e69a3c650a976a.svg
        provider_id: junjiem/db_query/db_query
        provider_name: junjiem/db_query/db_query
        provider_type: builtin
        selected: false
        title: SQL查询产品
        tool_configurations:
          output_format:
            type: constant
            value: markdown
        tool_description: 数据库SQL查询工具。
        tool_label: SQL查询
        tool_name: sql_query
        tool_node_version: '2'
        tool_parameters:
          db_host:
            type: mixed
            value: '{{#env.db_url#}}'
          db_name:
            type: mixed
            value: '{{#env.db_dbname#}}'
          db_password:
            type: mixed
            value: '{{#env.db_password#}}'
          db_port:
            type: variable
            value:
            - env
            - db_port
          db_properties:
            type: mixed
            value: null
          db_type:
            type: constant
            value: postgresql
          db_username:
            type: mixed
            value: '{{#env.db_user#}}'
          query_sql:
            type: mixed
            value: select * from test_dify.product;
        type: tool
      height: 88
      id: '17640351179410'
      position:
        x: 1710
        y: 29
      positionAbsolute:
        x: 1710
        y: 29
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction parseRow(line) {\n  return String(line).trim().replace(/^\\\
          |/, '').replace(/\\|$/, '').split('|').map(col => String(col).trim())\n\
          }\nfunction parseMd(text) {\n  const md = String(text).replace(/(?<!\\|)\\\
          n(?!\\|)/g, ' ').replaceAll('\\r', ' ')\n  const lines = md.split('\\n')\n\
          \  const head = parseRow(lines[0])\n  const body = lines.slice(2)\n  return\
          \ body.map(line => {\n    const obj = {}\n    const arr = parseRow(line)\n\
          \    head.forEach((key, index) => {\n      obj[key] = arr[index]\n    })\n\
          \    return obj\n  })\n}\nfunction toMarkdownTable(arr) {\n  if (!arr.length)\
          \ return '';\n\n  const headers = Object.keys(arr[0]);\n  const headerRow\
          \ = `| ${headers.join(' | ')} |`;\n  const separator = `| ${headers.map(()\
          \ => '---').join(' | ')} |`;\n\n  const rows = arr.map(obj =>\n    `| ${headers.map(h\
          \ => obj[h] ?? '').join(' | ')} |`\n  );\n\n  return [headerRow, separator,\
          \ ...rows].join('\\n');\n}\nfunction main({text, text_p}) {\n  const list_s\
          \ = parseMd(text)\n  const list_p = parseMd(text_p)\n  const store_by_id\
          \ = {}\n  list_s.forEach(o => {\n    store_by_id[o.store_id] = {}\n    Object.keys(o).forEach(key\
          \ => {\n      if (key !== 'store_id') {\n        store_by_id[o.store_id][`store_${key}`]\
          \ = o[key]\n      }\n    })\n  })\n  const product = list_p.map(o => {\n\
          \    return {\n      ...o,\n      ...(store_by_id[o.store_id] || {})\n \
          \   }\n  })\n  const table = toMarkdownTable(product)\n  const name = 'product'\n\
          \  return {\n    table,\n    name,\n  }\n}\n"
        code_language: javascript
        outputs:
          name:
            children: null
            type: string
          table:
            children: null
            type: string
        selected: false
        title: 处理数据库结果
        type: code
        variables:
        - value_selector:
          - '1763446093533'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '17640351179410'
          - text
          value_type: string
          variable: text_p
      height: 52
      id: '1764035128403'
      position:
        x: 2052
        y: 47
      positionAbsolute:
        x: 2052
        y: 47
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - file:
            - '1764035141964'
            - files
            id: key-value-1550
            key: file
            type: file
            value: '{{#1764035141964.files#}}'
          - id: key-value-1637
            key: data
            type: text
            value: '{{#1763448178150.data#}}'
          type: form-data
        headers: Authorization:Bearer {{#env.kb_token#}}
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 更新知识库文档
        type: http-request
        url: '{{#env.kb_url#}}/datasets/{{#env.kb_id#}}{{#1763448178150.url#}}'
        variables: []
      height: 165
      id: '1764035134073'
      position:
        x: 2736
        y: 29
      positionAbsolute:
        x: 2736
        y: 29
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Input text of single Markdown table
            ja_JP: Input text of single Markdown table
            pt_BR: Input text of single Markdown table
            zh_Hans: 单个Markdown格式文本
          label:
            en_US: Markdown table text
            ja_JP: Markdown table text
            pt_BR: Markdown table text
            zh_Hans: Markdown 表格文本
          llm_description: ''
          max: null
          min: null
          name: md_text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional custom output file name, and the filename suffix is not
              required.
            ja_JP: Optional custom output file name, and the filename suffix is not
              required.
            pt_BR: Optional custom output file name, and the filename suffix is not
              required.
            zh_Hans: 可选的自定义输出文件名，后缀名无需指定
          label:
            en_US: Output Filename
            ja_JP: Output Filename
            pt_BR: Output Filename
            zh_Hans: 输出文件名
          llm_description: ''
          max: null
          min: null
          name: output_filename
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          md_text: ''
          output_filename: ''
        plugin_id: bowenliang123/md_exporter
        plugin_unique_identifier: bowenliang123/md_exporter:2.1.0@7472b9ad6fe068f775ec891f1a3b36d99e6699752bab77143a84d38f2f864dbe
        provider_icon: http://172.22.132.124:8081/console/api/workspaces/current/plugin/icon?tenant_id=de79cda4-cae0-4be5-8bff-50ddcacf186f&filename=f0bad95cda1671b4e49f0e05df6122ef9ec5d554e138f128795d11d3806c00ef.svg
        provider_id: bowenliang123/md_exporter/md_exporter
        provider_name: bowenliang123/md_exporter/md_exporter
        provider_type: builtin
        selected: false
        title: Markdown 转 CSV 文件
        tool_configurations: {}
        tool_description: 将 Markdown 表格转换为 CSV 文件的工具
        tool_label: Markdown 转 CSV 文件
        tool_name: md_to_csv
        tool_node_version: '2'
        tool_parameters:
          md_text:
            type: mixed
            value: '{{#1764035128403.table#}}'
          output_filename:
            type: mixed
            value: '{{#1764035128403.name#}}'
        type: tool
      height: 52
      id: '1764035141964'
      position:
        x: 2392.5714285714284
        y: 47
      positionAbsolute:
        x: 2392.5714285714284
        y: 47
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -391.3000000000002
      y: 320.09999999999997
      zoom: 0.7
  rag_pipeline_variables: []
